.homepagebody{
	background-color: #FAFAFA;
}
.myrellbody{
	background-color: #465e8d;
}
body{
	color: #2F2F2F;
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
}
ul{
	list-style-type: none;
}

#mainLogo img
{
	height: 300px;
	width: 300px;
	display: block;
	margin: 0 auto;
	margin-top: 36px;
	margin-bottom: 32px;
}
#loginForm
{
	background-color: white;
	width: 400px;
	margin: 0 auto;
	margin-top: 48px;
	margin-bottom: 36px;
}

#loginButton
{
	width: 400px;
	height: 68px;
	padding-top: 32px;
	text-align: center;
	margin: 0 auto;
	background-color: #2f2f2f;
	color: #FAFAFA;
}
#loginButton h1
{
	margin: 0px;
}
#loginList
{
	background-color: #E95434;
	display: none;
	height: 200px;
}
#loginList input
{
	padding-left: 6px;
}
#loginList ul
{
	list-style: none;
	margin-top: 0px;
	padding-top: 14px;
}
#loginList ul li
{
	margin-bottom: 6px;
}
#buyButton
{
	display: block;
	border: 0px;
	width: 400px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	background-color: #2f2f2f;
	color: #FAFAFA;
}
#smallButtoncontainer{
	width: 400px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
#smallButton
{
	display: block;
	width: 180px;
	height: 100px;
	margin-top: 32px;
	text-align: center;
	background-color: #2f2f2f;
}
#smallButton h2
{
	padding-top: 15px	;
}
#smallButton a
{
	text-decoration: none;
	width: 180px;
	height: 100px;
	color: #FAFAFA;
	float: left;
	display: inline-block;
}

#btnLogin
{
	margin-top: 20px;
	height: 36px;
	width: 64px;
	text-align: center;
	border-style: none;
	color: #FAFAFA;
	background-color: #2f2f2f;
}

#registerForm
{
	width: 450px;
	margin: 0 auto;
	margin-bottom: 36px;
	text-align: center;
}

#registerList
{
	display:flex;
	background-color: #E95434;
	justify-content: center;
}

#registerList input
{
	padding-left: 6px;
	margin-bottom: 12px;
	height: 24px;
}


#registerList ul
{
	list-style: none;
	margin-top: 0px;
	padding-top: 14px;
	padding-left: 0px;
}

#registerList ul li
{
	
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.registerbuttons
{
	width: 140px;
	height: 36px;
	text-align: center;
    border-style: none;
    color: #FAFAFA;
    background-color: #2f2f2f;
}

.registerbuttons li{
	display: flex;
	flex-direction: column;
}

#licensePurchase
{
	text-align: center;
	background-color: #2f2f2f;
	color: #FAFAFA;
	padding-top: 20px;
	padding-bottom: 20px;
}

#editaccountcontainer
{
	position: absolute;
	top: 150px;
	width: 100%;
	height: 600px;
	margin: 0 auto;
	color: white;
}

#editaccountcontainer label{
	font-size: 130%;
}
#editaccountcontainer input{
	margin-top: 5px;
	margin-bottom: 10px;
	width: 30%;
}
#editaccountcontainer select{
	margin-top: 5px;
	width: 30%;
}

#editaccountform
{
	padding-top: 20px;
    padding-left: 40px;
    background-color: #465e8d;
    width: 90%;
    height: 90%;
    border-radius: 3px;
    margin: 0 auto;
}

#editaccountdiv
{
	width: 60%;
	height: 600px;
	background-color: #FAFAFA;
	border-radius: 3px;
	border: 3px solid #2F2F2F;
	margin: 0 auto;
	border-radius: 3px;
	overflow-y: auto;
	display: flex;
	align-items: center;
}

#editaccountdiv ul li
{
	margin-top: 12px;
	color: #FAFAFA;
	font-size: 130%;
}

#edituserbutton
{
	display: inline-block;
    width: 300px;
    height: 50px;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 25px;
    background-color: #34425f;
    font-size: 150%;
    text-align: center;
    border: 3px solid #2F2F2F;
    color: #FAFAFA;
}
/* ----------------------------- MYRELL ------------------------------- */

h1{
	margin: 0px;
	padding: 0px;
}
p{
	margin: 0px;
	padding: 0px;
}

/* --- Navigatie --- */

#navbar{
	width: 100%;
	height: 100px;
	background-color: #FAFAFA;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin: 0 auto;
	border-bottom: 3px solid #2F2F2F;
}
#logo{
	display: block;
	margin: 0 auto;
	height: 100px;
	width: 100px;
}

#main-nav ul{
	list-style: none;
	position: absolute;
}

#main-nav a{
	text-decoration: none;
	color: #FAFAFA;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 36px;
	width: 110px;
	text-align: center;
	border-style: none;
	background-color: #2F2F2F;
}


#editButton
{
	position: absolute;
	top: 50px;
	left: 170px;
}

#logoutButton{
	position: absolute;
	top: 50px;
	left: 40px;
}
#aboutButton{
	position: absolute;
	top: 50px;
	right: 40px;
	width: 110px;
}
#contactButton{
	position: absolute;
	top: 50px;
	right: 170px;
}

/* --- List --- */

#listcontainer{
	position: absolute;
	top: 150px;
	width: 100%;
	height: 600px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	color: #FAFAFA;
}
.statustitle{
	height: 70px;
	font-size: 90%;
	background-color: #34425f;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	text-align: center;
	border-top: 3px solid #2F2F2F;
	border-left: 3px solid #2F2F2F;
	border-right: 3px solid #2F2F2F;
}
.statustitle h1{
	padding-top: 15px;
}
.itemstatus{
	background-color: #FAFAFA;
	height: 600px;
	width: 385px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	overflow-y: scroll;
	border: 3px solid #2F2F2F;
	padding-right: 10px;
	padding-left: 10px;
}
.itemstatus::-webkit-scrollbar {
	display: none;
}

/* --- Item --- */

.itemcontainer{
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 350px;
	height: 250px;
	background-color: #465e8d;
	border-radius: 3px;
	color: #FAFAFA;
	border: 3px solid #465e8d;
}
.itemcontainerparent{
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 350px;
	height: 300px;
	background-color: #465e8d;
	border-radius: 3px;
	color: #FAFAFA;
	border: 3px solid #465e8d;
}
.taskname{
	position: absolute;
	top: 10px;
	width: 330px;
	background-color: #FAFAFA;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 130%;
	color: #2F2F2F;
}
.desclabel{
	position: absolute;
	top: 50px;
	left: 10px;
}
.taskdesc{
	position: absolute;
	top: 75px;
	left: 10px;
	height: 70px;
	width: 330px;
	padding: 3px;
	overflow-y: scroll;
	color: #FAFAFA;
	background-color: rgba(25,25,25, 0.4);
}
.movebuttoncontainer{
	display: flex;
	justify-content: space-around;
	position: absolute;
	bottom: 55px;
	height: 30px;
	width: 100%;
}
.movebuttoncontainerparent{
	display: flex;
	justify-content: space-around;
	position: absolute;
	bottom: 105px;
	height: 30px;
	width: 100%;
}
.movebuttons{
	display: inline-block;
	width: 25%;
	height: 100%;
	border-radius: 3px;
	background-color: #FAFAFA;
	text-align: center;
	border: 3px solid #FAFAFA;
	color: #34425f;
}
.movebuttons:hover{
	border: 3px solid #34425f;
}
.editbuttoncontainer{
	display: flex;
	justify-content: space-around;
	position: absolute;
	bottom: 55px;
	height: 30px;
	width: 100%;
}
.rewardlabel{
	position: absolute;
	bottom: 17px;
	left: 10px;
}
.reward{
	position: absolute;
	bottom: 10px;
	left: 90px;
}
.noreward{
	position: absolute;
	bottom: 10px;
	left: 90px;
}
.noreward{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.deadlinelabel{
	position: absolute;
	bottom: 25px;
	left: 170px;
}
.taskdeadline{
	position: absolute;
	bottom: 5px;
	left: 170px;
}

/* --- Description scrollbar --- */

.taskdesc::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #465e8d;
}
.taskdesc::-webkit-scrollbar
{
	width: 10px;
	background-color: #465e8d;
}
.taskdesc::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FAFAFA;
}

/* --- Tooltips --- */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: rgba(0,0,0, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: 50px;
    left: 5px;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0,0,0, 0.7) transparent transparent transparent;

}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* --- Footer Buttons --- */

#main-navigation{
	background-color: #FAFAFA;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 100px;
	border-top: 3px solid #2f2f2f;
}
#main-navigation ul{
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#main-navigation li{
	display: inline;
}
#main-navigation li button{
	display: inline-block;
	width: 300px;
	height: 50px;
	border-radius: 3px;
	margin: 0 auto;
	margin-top: 25px;
	background-color: #34425f;
	font-size: 150%;
	text-align: center;
	border: 3px solid #2F2F2F;
	color: #FAFAFA;
}
#main-navigation li button:hover{
	background-color: #465e8d;
}

/* --- Reward List --- */

#rewardlistcontainer{
	visibility: hidden;
	position: absolute;
	top: 150px;
	width: 100%;
	height: 600px;
	margin: 0 auto;
	color: white;
}
#rewardlisttitle{
	height: 70px;
	font-size: 90%;
	background-color: #34425f;
	width: 60%;
	border-radius: 3px;
	text-align: center;
	border-top: 3px solid #2F2F2F;
	border-left: 3px solid #2F2F2F;
	border-right: 3px solid #2F2F2F;
	margin: 0 auto;
}
#rewardlisttitle h1{
	padding-top: 15px;
}
#rewardlist{
	width: 60%;
	height: 600px;
	background-color: #FAFAFA;
	border-radius: 3px;
	border: 3px solid #2F2F2F;
	margin: 0 auto;
	border-radius: 3px;
	overflow-y: auto;
}

/* --- Reward Item --- */

.rewarditem{
	position: relative;
	display: block;
	width: 90%;
	height: 150px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	background-color: #465e8d;
}
.rewardname{
	position: absolute;
	top: 15%;
	left: 2%;
	width: 96%;
	height: 45px;
	overflow-y: auto;
}
.rewardtasklabel{
	position: absolute;
	top: 55%;
	left: 2%;
}
.rewarddatelabel{
	position: absolute;
	top: 55%;
	left: 65%;
}
.rewardtask{
	position: absolute;
	top: 70%;
	left: 2%;
}
.rewarddate{
	position: absolute;
	top: 70%;
	left: 65%;
}

/* --- TaskReward scrollbar --- */

.rewardname::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #465e8d;
}
.rewardname::-webkit-scrollbar
{
	width: 10px;
	background-color: #465e8d;
}
.rewardname::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FAFAFA;
}

/* --- Rewardlist scrollbar --- */

#rewardlist::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #FAFAFA;
}
#rewardlist::-webkit-scrollbar
{
	width: 10px;
	background-color: #FAFAFA;
}
#rewardlist::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #465e8d;
}

/* --- Create task --- */

#createtaskcontainer{
	visibility: hidden;
	position: absolute;
	top: 150px;
	width: 100%;
	height: 600px;
	margin: 0 auto;
	color: white;
}
#createtasktitle{
	height: 70px;
	font-size: 90%;
	background-color: #34425f;
	width: 60%;
	border-radius: 3px;
	text-align: center;
	border-top: 3px solid #2F2F2F;
	border-left: 3px solid #2F2F2F;
	border-right: 3px solid #2F2F2F;
	margin: 0 auto;
}
#createtasktitle h1{
	padding-top: 15px;
}
#createtaskdiv{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	height: 600px;
	background-color: #FAFAFA;
	border-radius: 3px;
	border: 3px solid #2F2F2F;
	margin: 0 auto;
	border-radius: 3px;
}
#createtaskform{
	padding-top: 20px;
	padding-left: 40px;
	background-color: #465e8d;
	width: 90%;
	height: 90%;
	border-radius: 3px;
}
#createtaskform h1{
	margin: 0px;
	padding: 0px;
}
#createtaskform h2{
	margin: 0px;
	padding: 0px;
}
#createtaskname{
	height: 30px;
	font-size: 130%;
	margin-bottom: 10px;
}
#createbutton{
	display: inline-block;
	width: 300px;
	height: 50px;
	border-radius: 3px;
	margin: 0 auto;
	margin-top: 25px;
	background-color: #34425f;
	font-size: 150%;
	text-align: center;
	border: 3px solid #2F2F2F;
	color: #FAFAFA;
}

#createbutton:hover{
	background-color: #465e8d;
}


/* --- PARENTS --- */
/* --- Dashboard --- */


#dashboardcontainer{
	position: absolute;
	top: 150px;
	width: 100%;
	height: 600px;
	margin: 0 auto;
	color: white;
}
#dashboard{
	width: 60%;
	height: 600px;
	background-color: #FAFAFA;
	border-radius: 3px;
	border: 3px solid #2F2F2F;
	margin: 0 auto;
	border-radius: 3px;
	overflow-y: auto;
}
#dashboard::-webkit-scrollbar {
	display: none;
}


/* --- Dashboard Item --- */

.dashboarditem{
	position: relative;
	display: block;
	width: 90%;
	height: 150px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	background-color: #465e8d;
}
.childname{
	position: absolute;
	top: 15%;
	left: 2%;
	width: 96%;
	height: 45px;
	overflow-y: auto;
}
.passwordlabel{
	position: absolute;
	top: 15%;
	left: 45%;
	height: 45px;
	margin: 0px;
	padding: 0px;
}
.childpassword{
	position: absolute;
	top: 15%;
	left: 57%;
	width: 40%;
	height: 45px;
	margin: 0px;
	padding: 0px;
	overflow-y: auto;
}
.viewbutton{
	position: absolute;
	top: 45%;
	left: 25%;
	width: 50%;
	height: 45px;
	display: inline-block;
	border-radius: 3px;
	background-color: #34425f;
	font-size: 150%;
	text-align: center;
	border: 3px solid #2F2F2F;
	color: #FAFAFA;
}
.viewbutton:hover{
	background-color: #2F2F2F;
}

/* --- Edit task --- */

#edittaskcontainer{
	position: absolute;
	top: 150px;
	width: 100%;
	height: 600px;
	margin: 0 auto;
	color: white;
}
#edittaskcontainer label{
	font-size: 130%;
}
#edittaskcontainer input{
	margin-top: 5px;
	margin-bottom: 10px;
	width: 30%;
}
#edittaskcontainer select{
	margin-top: 5px;
	width: 30%;
}

/* --- About --- */

#aboutcontainer{
	width: 100%;
	height: 500px;
	display: flex;;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}
#aboutcontainer h2{
	font-size: 300%;
	margin: 0px;
	padding: 0px;
}
#aboutcontainer p{
	padding-top: 50px;
	font-size: 150%;
	padding-bottom: 150px; 
	width: 60%;
	margin: 0 auto;
	text-align: center;
}
#aboutBackButton{
	display: block;
	border: 0px;
	width: 400px;
	height: 100px;
	margin: 0 auto;
	margin-bottom: 68px;
	text-align: center;
	background-color: #2f2f2f;
}
#aboutBackButton h1{
	color: #FAFAFA;
}

/* --- Contact --- */

#contactformcontainer{
	display: block;
	width: 40%;
	height: 350px;
	margin: 0 auto;
	margin-bottom: 40px;
	background-color: #E95434;
	color: #FAFAFA;
	padding: 20px;
	border: 3px black;
	position: relative;
}
.contactformlabel{
	margin-bottom: 5px;
	margin-top: 5px;
}
#contactbuttoncontainer{
	position: absolute;
	bottom: 20px;
	left: 20px
}
.contactbutton{
	text-decoration: none;
	color: #FAFAFA;
	height: 36px;
	width: 100px;
	text-align: center;
	border-style: none;
	background-color: #2F2F2F;
}