body{
	background-color: #FAFAFA;
	color: #2F2F2F;
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
}

#mainLogo img
{
	height: 300px;
	width: 300px;
	display: block;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 160px;
}

#loginForm
{
	background-color: white;
	width: 400px;
	margin: 0 auto;
	margin-bottom: 36px;
}

#loginButton
{
	width: 400px;
	height: 68px;
	padding-top: 32px;
	text-align: center;
	margin: 0 auto;
	background-color: #2f2f2f;
	color: #FAFAFA;
}

#loginButton h1
{
	margin: 0px;
}

#loginList
{
	background-color: #E95434;
	display: none;
	height: 200px;
}

#loginList input
{
	padding-left: 6px;
}

#loginList ul
{
	list-style: none;
	margin-top: 0px;
	padding-top: 14px;
}

#loginList ul li
{
	margin-bottom: 6px;
}

#buyButton
{
	display: block;
	width: 400px;
	height: 100px;
	margin: 0 auto;
	margin-bottom: 68px;
	text-align: center;
	background-color: #2f2f2f;
}

#buyButton h1
{
	padding-top: 32px	;
}

#buyButton a
{
	text-decoration: none;
	width: 400px;
	height: 68px;
	color: #FAFAFA;
}

#btnLogin
{
	height: 36px;
	width: 64px;
	text-align: center;
	border-style: none;
	color: #FAFAFA;
	background-color: #2f2f2f;
}