body{
	background-color: #465e8d;
	color: #2F2F2F;
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
}
ul{
	list-style-type: none;
}
#mainLogo img
{
	height: 300px;
	width: 300px;
	display: block;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 160px;
}
#loginForm
{
	background-color: white;
	width: 400px;
	margin: 0 auto;
	margin-bottom: 36px;
}
#loginButton
{
	width: 400px;
	height: 68px;
	padding-top: 32px;
	text-align: center;
	margin: 0 auto;
	background-color: #2f2f2f;
	color: #FAFAFA;
}
#loginButton h1
{
	margin: 0px;
}
#loginList
{
	background-color: #E95434;
	display: none;
	height: 200px;
}
#loginList input
{
	padding-left: 6px;
}
#loginList ul
{
	list-style: none;
	margin-top: 0px;
	padding-top: 14px;
}
#loginList ul li
{
	margin-bottom: 6px;
}
#buyButton
{
	display: block;
	width: 400px;
	height: 100px;
	margin: 0 auto;
	margin-bottom: 68px;
	text-align: center;
	background-color: #2f2f2f;
}
#buyButton h1
{
	padding-top: 32px	;
}
#buyButton a
{
	text-decoration: none;
	width: 400px;
	height: 68px;
	color: #FAFAFA;
}

#btnLogin
{
	height: 36px;
	width: 64px;
	text-align: center;
	border-style: none;
	color: #FAFAFA;
	background-color: #2f2f2f;
}

/* ----------------------------- MYRELL ------------------------------- */

h1{
	margin: 0px;
	padding: 0px;
}
p{
	margin: 0px;
	padding: 0px;
}

/* --- Navigatie --- */

#navbar{
	width: 100%;
	height: 100px;
	background-color: #FAFAFA;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin: 0 auto;
	border-bottom: 3px solid #2F2F2F;
}
#logo{
	display: block;
	margin: 0 auto;
	height: 100px;
	width: 100px;
}

/* --- List --- */

#listcontainer{
	position: absolute;
	top: 150px;
	width: 100%;
	height: 600px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	color: #FAFAFA;
}
.statustitle{
	height: 70px;
	font-size: 90%;
	background-color: #34425f;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	text-align: center;
	border-top: 3px solid #2F2F2F;
	border-left: 3px solid #2F2F2F;
	border-right: 3px solid #2F2F2F;
}
.statustitle h1{
	padding-top: 15px;
}
.itemstatus{
	background-color: #FAFAFA;
	height: 600px;
	width: 385px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	overflow-y: scroll;
	border: 3px solid #2F2F2F;
	padding-right: 10px;
	padding-left: 10px;
}
.itemstatus::-webkit-scrollbar {
	display: none;
}

/* --- Item --- */

.itemcontainer{
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 350px;
	height: 250px;
	background-color: #465e8d;
	border-radius: 3px;
	color: #FAFAFA;
	border: 3px solid #465e8d;
}
.taskname{
	position: absolute;
	top: 10px;
	width: 330px;
	background-color: #FAFAFA;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 130%;
	color: #2F2F2F;
}
.desclabel{
	position: absolute;
	top: 50px;
	left: 10px;
}
.taskdesc{
	position: absolute;
	top: 75px;
	left: 10px;
	height: 70px;
	width: 330px;
	padding: 3px;
	overflow-y: scroll;
	color: #FAFAFA;
	background-color: rgba(25,25,25, 0.4);
}
.movebuttoncontainer{
	display: flex;
	justify-content: space-around;
	position: absolute;
	bottom: 55px;
	height: 30px;
	width: 100%;
}
.movebuttons{
	display: inline-block;
	width: 25%;
	height: 100%;
	border-radius: 3px;
	background-color: #FAFAFA;
	text-align: center;
	border: 3px solid #FAFAFA;
	color: #34425f;
}
.movebuttons:hover{
	border: 3px solid #34425f;
}
.rewardlabel{
	position: absolute;
	bottom: 17px;
	left: 10px;
}
.reward{
	position: absolute;
	bottom: 10px;
	left: 90px;
}
.noreward{
	position: absolute;
	bottom: 10px;
	left: 90px;
}
.noreward{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.deadlinelabel{
	position: absolute;
	bottom: 25px;
	left: 170px;
}
.taskdeadline{
	position: absolute;
	bottom: 5px;
	left: 170px;
}

/* --- Description scrollbar --- */

.taskdesc::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #465e8d;
}
.taskdesc::-webkit-scrollbar
{
	width: 10px;
	background-color: #465e8d;
}
.taskdesc::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FAFAFA;
}

/* --- Tooltips --- */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: rgba(0,0,0, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: 50px;
    left: 5px;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0,0,0, 0.7) transparent transparent transparent;

}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* --- Footer Buttons --- */

#main-navigation{
	background-color: #FAFAFA;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 100px;
	border-top: 3px solid #2f2f2f;
}
#main-navigation ul{
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#main-navigation li{
	display: inline;
}
#main-navigation li button{
	display: inline-block;
	width: 300px;
	height: 50px;
	border-radius: 3px;
	margin: 0 auto;
	margin-top: 25px;
	background-color: #34425f;
	font-size: 150%;
	text-align: center;
	border: 3px solid #2F2F2F;
	color: #FAFAFA;
}
#main-navigation li button:hover{
	background-color: #465e8d;
}

/* --- Reward List --- */

#rewardlistcontainer{
	visibility: hidden;
	position: absolute;
	top: 150px;
	width: 100%;
	height: 600px;
	margin: 0 auto;
	color: white;
}
#rewardlisttitle{
	height: 70px;
	font-size: 90%;
	background-color: #34425f;
	width: 60%;
	border-radius: 3px;
	text-align: center;
	border-top: 3px solid #2F2F2F;
	border-left: 3px solid #2F2F2F;
	border-right: 3px solid #2F2F2F;
	margin: 0 auto;
}
#rewardlisttitle h1{
	padding-top: 15px;
}
#rewardlist{
	width: 60%;
	height: 600px;
	background-color: #FAFAFA;
	border-radius: 3px;
	border: 3px solid #2F2F2F;
	margin: 0 auto;
	border-radius: 3px;
	overflow-y: auto;
}

/* --- Reward Item --- */

.rewarditem{
	position: relative;
	display: block;
	width: 90%;
	height: 150px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	background-color: #465e8d;
}
.rewardname{
	position: absolute;
	top: 15%;
	left: 2%;
	width: 96%;
	height: 45px;
	overflow-y: auto;
}
.rewardtasklabel{
	position: absolute;
	top: 55%;
	left: 2%;
}
.rewarddatelabel{
	position: absolute;
	top: 55%;
	left: 65%;
}
.rewardtask{
	position: absolute;
	top: 70%;
	left: 2%;
}
.rewarddate{
	position: absolute;
	top: 70%;
	left: 65%;
}

/* --- TaskReward scrollbar --- */

.rewardname::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #465e8d;
}
.rewardname::-webkit-scrollbar
{
	width: 10px;
	background-color: #465e8d;
}
.rewardname::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FAFAFA;
}

/* --- Rewardlist scrollbar --- */

#rewardlist::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #FAFAFA;
}
#rewardlist::-webkit-scrollbar
{
	width: 10px;
	background-color: #FAFAFA;
}
#rewardlist::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #465e8d;
}

/* --- Create task --- */

#createtaskcontainer{
	visibility: hidden;
	position: absolute;
	top: 150px;
	width: 100%;
	height: 600px;
	margin: 0 auto;
	color: white;
}
#createtasktitle{
	height: 70px;
	font-size: 90%;
	background-color: #34425f;
	width: 60%;
	border-radius: 3px;
	text-align: center;
	border-top: 3px solid #2F2F2F;
	border-left: 3px solid #2F2F2F;
	border-right: 3px solid #2F2F2F;
	margin: 0 auto;
}
#createtasktitle h1{
	padding-top: 15px;
}
#createtaskdiv{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	height: 600px;
	background-color: #FAFAFA;
	border-radius: 3px;
	border: 3px solid #2F2F2F;
	margin: 0 auto;
	border-radius: 3px;
}
#createtaskform{
	background-color: #465e8d;
	width: 90%;
	height: 90%;
	border-radius: 3px;



#mainLogo img

{

	height: 300px;

	width: 300px;

	display: block;

	margin: 0 auto;

	margin-top: 36px;

	margin-bottom: 112px;

}



#loginForm

{

	background-color: white;

	width: 400px;

	margin: 0 auto;

	margin-bottom: 36px;

}



#loginButton

{

	width: 400px;

	height: 68px;

	padding-top: 32px;

	text-align: center;

	margin: 0 auto;

	background-color: #2f2f2f;

	color: #FAFAFA;

}



#loginButton h1

{

	margin: 0px;

}



#loginList

{

	background-color: #E95434;

	display: none;

	height: 200px;

}



#loginList input

{

	padding-left: 6px;

}



#loginList ul

{

	list-style: none;

	margin-top: 0px;

	padding-top: 14px;

}



#loginList ul li

{

	margin-bottom: 6px;

}

#registerForm

{


	width: 400px;

	margin: 0 auto;

	margin-bottom: 36px;

}

#registerList
{
margin-top: 30px;
}


#registerList input

{

	padding-left: 6px;
	margin-bottom: 12px;
}



#registerList ul

{

	list-style: none;

	margin-top: 0px;

	padding-top: 14px;

	padding-left: 0px;

}



#registerList ul li

{

	margin-bottom: 6px;

}

#buyButton

{

	display: block;

	width: 400px;

	height: 100px;

	margin: 0 auto;

	margin-bottom: 68px;

	text-align: center;

	background-color: #2f2f2f;

}



#buyButton h1

{
	padding-top: 32px;
	padding-bottom: 29px;

}



#buyButton a

{

	text-decoration: none;

	width: 400px;

	height: 68px;

	color: #FAFAFA;

}



#btnLogin

{
	margin-top: 20px;
	height: 36px;

	width: 64px;

	text-align: center;

	border-style: none;

	color: #FAFAFA;

	background-color: #2f2f2f;

}

#licensePurchase
{

}

h1{

	margin: 0px;

	padding: 0px;

}

p{

	margin: 0px;

	padding: 0px;

}



/* --- Navigatie --- */



#navbar{
	display: flex;
	justify-content: center;

	width: 100%;

	height: 100px;

	background-color: #FAFAFA;

	border-bottom-left-radius: 3px;

	border-bottom-right-radius: 3px;

	margin: 0 auto;

	border-bottom: 5px solid #2F2F2F;

}

#logo{

	height: 100px;
	width: 100px;
	margin: 0 auto;
}


#main-nav ul{
	list-style: none;
	position: absolute;
}

#main-nav a{
	text-decoration: none;
	color: #FAFAFA;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 36px;

	width: 64px;

	text-align: center;

	border-style: none;



	background-color: #2F2F2F;
}

#logoutButton{
	margin-top: 14px;
}

/* --- Titles --- */



#titlecontainer{

	padding-top: 50px;

	width: 90%;

	margin: 0 auto;

	display: flex;

	justify-content: space-between;

	align-items: center;

}

.statustitle{

	height: 70px;

	font-size: 90%;

	background-color: #FAFAFA;

	width: 23%;

	border-top-right-radius: 3px;

	border-top-left-radius: 3px;

	text-align: center;

	border: 5px solid #2F2F2F;

}

.statustitle h1{

	padding-top: 15px;

}



/* --- List --- */



#listcontainer{

	width: 90%;

	height: 600px;

	margin: 0 auto;

	display: flex;

	justify-content: space-between;

	align-items: center;

}

.itemstatus{

	width: 23%;

	background-color: #FAFAFA;

	height: 600px;

	border-bottom-left-radius: 3px;

	border-bottom-right-radius: 3px;

	overflow-y: scroll;

	border-bottom: 5px solid #2F2F2F;

	border-left: 5px solid #2F2F2F;

	border-right: 5px solid #2F2F2F;

}

.itemstatus::-webkit-scrollbar {

	display: none;

}



/* --- Item --- */



.itemcontainer{

	position: relative;

	display: block;



	margin: 0 auto;

	margin-top: 20px;

	margin-bottom: 10px;

	width: 88%;

	height: 200px;

	background-color: grey;

	border-radius: 3px;

}

.taskname{

	position: absolute;

	top: 10px;

	width: 100%;

	background-color: #FAFAFA;

	padding-left: 10px;

	padding-right: 10px;

	padding-top: 5px;

	padding-bottom: 5px;

	font-size: 130%;

	color: #2F2F2F;

}

.desclabel{

	position: absolute;

	top: 50px;

	left: 10px;

}

.taskdesc{

	position: absolute;

	top: 75px;

	left: 10px;

	height: 70px;

	width: 330px;

	padding: 3px;

	overflow-y: scroll;

	background-color: rgba(255,255,255, 0.4);

}

.rewardlabel{

	position: absolute;

	bottom: 17px;

	left: 10px;

}

.reward{

	position: absolute;

	bottom: 10px;

	left: 90px;

}

.noreward{

	position: absolute;

	bottom: 10px;

	left: 90px;

}

.noreward{

    -webkit-filter: grayscale(100%);

    filter: grayscale(100%);

}

.deadlinelabel{

	position: absolute;

	bottom: 25px;

	left: 150px;

}

.taskdeadline{

	position: absolute;

	bottom: 5px;

	left: 150px;

}



/* --- Description scrollbar --- */



.taskdesc::-webkit-scrollbar-track

{

	border-radius: 10px;

	background-color: grey;

}

.taskdesc::-webkit-scrollbar

{

	width: 10px;

	background-color: grey;

}

.taskdesc::-webkit-scrollbar-thumb

{

	border-radius: 10px;

	background-color: #2f2f2f;

}



/* --- Tooltips --- */



.tooltip .tooltiptext {

    visibility: hidden;

    width: 200px;

    background-color: rgba(0,0,0, 0.7);

    color: #fff;

    text-align: center;

    border-radius: 6px;

    padding: 5px 0;

    position: absolute;

    bottom: 50px;

    left: 5px;

}

.tooltip .tooltiptext::after {

    content: " ";

    position: absolute;

    top: 100%;

    left: 50%;

    margin-left: -5px;

    border-width: 5px;

    border-style: solid;

    border-color: rgba(0,0,0, 0.7) transparent transparent transparent;

}



.tooltip:hover .tooltiptext {

    visibility: visible;

}



/* --- Buttons --- */



#buttoncontainer{

	padding-top: 50px;

	width: 90%;

	height: 50px;

	margin: 0 auto;

	display: flex;

	justify-content: space-between;

	align-items: center;

}

.button{

	width: 35%;

	height: 40px;

	border-radius: 3px;

	margin: 0 auto;

	background-color: #FAFAFA;

	font-size: 150%;

	padding-top: 10px;

	text-align: center;

	border: 5px solid #2F2F2F;

}

.button:hover{

	border: 5px solid #F9B77D;

}



/* --- Reward List --- */



#rewardlistcontainer{

	display: none;

	margin-top: 50px;

	width: 90%;

	height: 600px;

	margin: 0 auto;

	background-color: #FAFAFA;

	border-radius: 3x;

	border: 5px solid #2F2F2F;

}